.home-page {
  background: $light-grey-97;
  @include mq(large) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    width: 90%;
    overflow-x: hidden;
  }
}
