.not-found-page {
  background: $light-grey-97;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  @include mq(large) {
    width: 90%;
    margin-left: 10%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    margin-top: 64px;
  }
}
