.portfolio-page {
  background: $dark-blue;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  margin-top: 9vh;
  @include mq(large) {
    margin: 0;
    margin-left: 10%;
    width: 90%;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    @include mq(large) {
      height: 100vh;
      min-height: 640px;
      max-height: 1000px;
    }
    @include mq(xlarge) {
      min-height: 700px;
      max-height: 749px;
    }
    @include mq(xxlarge) {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      max-height: 810px;
      min-height: 640px;
    }
    @include mq(xxxlarge) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      max-height: 972px;
    }
    @include mq(wide) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      max-height: 1080px;
      min-height: 750px;
    }
    @include mq(xwide) {
      grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
      max-height: 1296px;
      min-height: 1000px;
    }
    @media screen and (min-width: 2380px) {
      grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
      max-height: 1606px;
    }
    @include mq(xxwide) {
      grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
      max-height: 1728px;
      min-height: 1200px;
    }
    @media screen and (min-width: 3150px) {
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @include mq(xlarge) {
      opacity: 0.5;
      transition: all 0.3s ease-out;
    }

    &::before,
    &::after {
      @include mq(xlarge) {
        pointer-events: none;
        @include absolute($top: 50%, $left: 50%);
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.3s ease-out;
      }
    }

    &::before {
      @include mq(xlarge) {
        content: "VIEW PROJECT";
        font-family: "Open Sans", sans-serif;
        z-index: 2;
        text-align: center;
        font-size: 0.5rem;
        font-weight: bold;
        line-height: 0.8rem;
        letter-spacing: 3px;
        width: 80px;
      }
    }

    &::after {
      @include mq(xlarge) {
        content: "";
        width: 85px;
        height: 85px;
        background: $light-blue-green;
        border-radius: 50%;
      }
    }

    &:hover,
    &:active {
      @include mq(xlarge) {
        opacity: 1;
      }

      &::after,
      &::before {
        @include mq(xlarge) {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;

    &:hover {
      @include mq(xlarge) {
        transform: scale(1.1);
      }
    }
  }
}
