.portfolio-page {
  background: $dark-blue;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 9vh;
  overflow-y: scroll;
  height: 100vh;
  @include mq(large) {
    margin: 0;
    margin-left: 10%;
    width: 90%;
  }

  &__container {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    display: grid;
    width: 100%;
    @include mq(xsmall) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    @include mq(medium) {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    @include mq(large) {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

      height: 100vh;
      min-height: 700px;
      max-height: 1000px;
    }
    @include mq(xlarge) {
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      min-height: 640px;
      max-height: 690px;
    }
    @include mq(xxlarge) {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      max-height: 810px;
    }
    @include mq(xxxlarge) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      max-height: 972px;
    }
    @include mq(wide) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      max-height: 1080px;
      min-height: 750px;
    }
    @include mq(xwide) {
      grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
      max-height: 1296px;
      min-height: 1000px;
    }
    @media screen and (min-width: 2380px) {
      grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
      max-height: 1606px;
    }
    @include mq(xxwide) {
      grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
      max-height: 1728px;
      min-height: 1200px;
    }
    @media screen and (min-width: 3150px) {
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }

    &--gap {
      gap: 0.25rem;
    }
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease-out;
    @include on-event {
      opacity: 1;

      &::after,
      &::before {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    // for touch screen device
    &--opaque {
      opacity: 1;
      &::before,
      &::after {
        display: none;
      }
    }

    &::before,
    &::after {
      pointer-events: none;
      @include absolute($top: 50%, $left: 50%);
      transform: translate(-50%, -50%) scale(0);
      transition: all 0.3s ease-out;
    }

    &::before {
      content: "VIEW PROJECT";
      font-family: "Open Sans", sans-serif;
      z-index: 2;
      text-align: center;
      font-size: 0.5rem;
      font-weight: bold;
      line-height: 0.8rem;
      letter-spacing: 3px;
      width: 80px;
    }

    &::after {
      content: "";
      width: 85px;
      height: 85px;
      background: $light-blue-green;
      border-radius: 50%;
    }

    // &:hover,
    // &:active {

    // }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
