.navbar {
  @include fixed($top: 0, $left: 0, $right: 0);
  flex-direction: column;
  z-index: 500;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 240px;
  clip-path: inset(0% 0% 77.5% 0%);
  transition: clip-path 0.5s ease-in-out;
  @include mq(large) {
    justify-content: space-between;
    clip-path: unset;
    bottom: 0;
    right: unset;
    padding: 1rem;
    width: 10vw;
    height: 100vh;

    &__nav {
      margin: 0;
      position: absolute;
      top: 50vh;
      transform: translateY(-50%);
    }
  }

  &:hover {
    clip-path: inset(0% 0% 0% 0%);
  }

  &__logo-link {
    height: 9vh;
    min-height: 54px;
    margin-right: auto;
    margin-left: 8vw;
    @include mq(large) {
      margin: 0;
      width: 100%;
      height: auto;
    }

    @include on-event {
      .navbar__logo {
        .text {
          fill: white;
        }
      }
    }

    //nested inside to overwrite the :focus & :active on <a> tag
    .navbar__logo {
      height: 90%;
      width: auto;
      @include mq(large) {
        width: 100%;
        height: auto;
      }

      .text {
        transition: all 150ms linear;
      }
    }
  }

  &__nav {
    margin-bottom: auto;
    width: 100%;
  }

  &__list > * + * {
    margin-top: 1rem;
  }

  &__container-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__facebook-link,
  &__github-link {
    display: grid;
    place-items: center;
    @include on-event {
      .navbar__facebook,
      .navbar__github {
        transform: scale(1.1);
        path {
          fill: white;
        }
      }
    }

    .navbar__facebook,
    .navbar__github {
      padding: 0 8px;
      width: 40px;
      height: auto;
      transition: all 150ms linear;

      path {
        transition: all 150ms linear;
        fill: $light-grey-yellow;
      }
    }
  }
}
