.skills {
  position: relative;
  height: auto;
  max-height: unset;
  @include mq(xlarge) {
    height: 100vh;
    max-height: 900px;
    min-height: 720px;
    padding: 0;
    display: grid;
    place-items: center;
    width: 1200px;
  }
  @include mq(xxlarge) {
    width: 1440px;
  }
  @include mq(xxxlarge) {
    width: 1600px;
  }
  @include mq(wide) {
    width: 1920px;
    max-height: 1050px;
    min-height: 800px;
  }
  @include mq(xwide) {
    width: 2560px;
    min-height: 1000px;
    max-height: 1150px;
  }
  @include mq(xxwide) {
    width: 3200px;
    min-height: 1250px;
    max-height: 1440px;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(xlarge) {
      width: 75vw;
      max-width: 800px;
      height: 84.4444%;
      min-height: 650px;
      margin: auto auto 0 auto;
    }
    @include mq(xxlarge) {
      max-width: 960px;
    }
    @include mq(xxxlarge) {
      max-width: 1110px;
    }
    @include mq(wide) {
      max-width: 1230px;
      min-height: 740px;
    }
    @include mq(xwide) {
      max-width: 1440px;
      min-height: 870px;
    }
    @include mq(xxwide) {
      max-width: 1700px;
      min-height: 1090px;
    }
  }

  &__title {
    z-index: 4;
    margin: 0;
    margin-top: 14vh;
    @include mq(xlarge) {
      @include absolute($top: 0, $left: 0);
      margin: 0;
      margin-bottom: 4rem;
    }
  }

  &__laptop-container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 12;
    margin-bottom: 3rem;
    @include mq(xsmall) {
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(xlarge) {
      margin: 0;
      @include absolute($bottom: 0, $right: 0);
      max-width: unset;
      width: 280px;
      height: auto;
    }
    @include mq(xxlarge) {
      width: 300px;
    }
    @include mq(wide) {
      width: 390px;
    }
    @include mq(xwide) {
      width: 440px;
    }
    @include mq(xxwide) {
      width: 580px;
    }
  }

  &__laptop {
    @include absolute($right: 50%, $top: 50%);
    transform: translate(50%, -30%);
    z-index: 11;
    width: 68.75%;
    height: auto;
    @include mq(xlarge) {
      transform: unset;
      top: unset;
      right: 40px;
      bottom: 40px;
    }
    @include mq(xxxlarge) {
      right: 50px;
      bottom: 50px;
    }

    .laptop__shadow {
      display: none;
    }
  }

  &__blobs {
    width: 100%;
    height: auto;
    z-index: 10;

    .grey-blob {
      display: none;
    }
  }

  &__card {
    border-radius: 15px;
    width: 100%;
    padding: 2rem 8.5%;
    display: flex; //to prevent collapsing
    flex-direction: column;
    @include mq(xsmall) {
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(xsmall) {
      padding: 2.5rem;
    }
    @include mq(small) {
      max-width: unset;
      width: 500px;
      height: 350px;
    }
    @include mq(xlarge) {
      position: absolute;
      width: 370px;
      height: 400px;
    }
    @include mq(xxlarge) {
      width: 430px;
      height: 365px;
    }
    @include mq(xxxlarge) {
      width: 500px;
      height: 350px;
    }
    @include mq(wide) {
      width: 560px;
      height: 390px;
      padding: 3rem;
    }
    @include mq(xwide) {
      width: 660px;
      height: 440px;
      padding: 3.5rem;
    }
    @include mq(xxwide) {
      width: 768px;
      height: 520px;
      padding: 4rem;
    }

    &--description {
      z-index: 1;
      margin-bottom: 3rem;
      @include mq(xlarge) {
        margin: 0;
        top: 0;
        right: 0;
      }
    }

    &--graph {
      z-index: 5;
      margin-bottom: 3.5rem;
      @include mq(xlarge) {
        margin: 0;
        // top: calc(64px + 5rem);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }

  &__card-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(small) {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 1.5rem;
      height: 60px;
    }
    @include mq(xlarge) {
      justify-content: start;
    }
    @include mq(xxwide) {
      margin-bottom: 3rem;
    }
  }

  &__dev-icon {
    margin-bottom: 1rem;
    @include mq(small) {
      @include absolute($left: 0);
      margin: 0;
    }
    @include mq(xlarge) {
      width: 40px;
      height: auto;
    }
    @include mq(xxxlarge) {
      width: 60px;
    }
    @include mq(xxwide) {
      width: 80px;
    }
  }

  &__card-title {
    margin-bottom: 1.5rem;
    @include mq(small) {
      margin: 0;
    }
    @include mq(xlarge) {
      margin-left: 50px;
    }
    @include mq(xxxlarge) {
      margin-left: 78px;
    }
    @include mq(xwide) {
      margin-left: 88px;
    }
    @include mq(xxwide) {
      margin-left: 110px;
    }
  }

  &__level-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__level-item {
    &--hide {
      display: none;
      @include mq(small) {
        display: block;
      }
      @include mq(xlarge) {
        display: none;
      }
      @include mq(xxxlarge) {
        display: block;
      }
    }
  }

  &__tools-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__graph-line {
    position: relative;
    margin-top: 3px;
    margin-bottom: 1rem;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    height: 4px;
    background: $light-red;
    @include mq(small) {
      margin-bottom: 0;
    }
    @include mq(wide) {
      margin-top: 4px;
      height: 5px;
      border-radius: 2.5px;
    }
    @include mq(xwide) {
      height: 5.5px;
      border-radius: 2.75px;
    }
    @include mq(xxwide) {
      margin-top: 5px;
      height: 6px;
      border-radius: 3px;
    }
  }

  &__line-percent {
    @include absolute($top: 0, $left: 0, $bottom: 0);
    background: $light-blue-green;
  }

  &__triangle-left {
    width: 100%;
    height: auto;
    @include absolute($left: 0, $bottom: -1px);
    z-index: 2;
    @include mq(xlarge) {
      width: auto;
      height: 610px;
    }
    @include mq(xxlarge) {
      height: 710px;
    }
    @include mq(xxxlarge) {
      height: 770px;
    }
    @include mq(wide) {
      height: 910px;
    }
    @include mq(xwide) {
      height: 1170px;
    }
    @include mq(xxwide) {
      height: 1480px;
    }
  }

  &__triangle-right {
    @include absolute($right: 0, $bottom: -1px);
    z-index: 3;
    width: 66.6666%;
    height: auto;
    @include mq(xlarge) {
      width: auto;
      height: 450px;
    }
    @include mq(xxlarge) {
      height: 520px;
    }
    @include mq(xxxlarge) {
      height: 540px;
    }
    @include mq(wide) {
      height: 660px;
    }
    @include mq(xwide) {
      height: 860px;
    }
    @include mq(xxwide) {
      height: 1140px;
    }
  }

  &__zigzag-big {
    @include absolute($top: 65%, $left: -20px);
    @include mq(xsmall) {
      top: 66%;
    }
    @include mq(xlarge) {
      top: 15%;
      left: 25%;
      z-index: 4;
    }
    @include mq(xxlarge) {
      top: 18%;
      left: 28%;
    }
    @include mq(xxxlarge) {
      top: 19%;
      left: 30%;
    }
    @include mq(xwide) {
      width: 140px;
      height: auto;
      top: 21%;
    }
    @include mq(xxwide) {
      width: 170px;
      top: 22%;
    }
  }

  &__dots {
    display: none;
    @include mq(xlarge) {
      display: block;
      z-index: 4;
      @include absolute($bottom: 15%, $left: -5%);
    }
    @include mq(xxlarge) {
      bottom: 18%;
    }
    @include mq(xxxlarge) {
      bottom: 20%;
      left: -4%;
    }
    @include mq(xwide) {
      width: 260px;
      height: auto;
    }
    @include mq(xxwide) {
      width: 320px;
      height: auto;
    }
  }

  &__three-lines {
    @include absolute($right: 0, $bottom: 0);
    width: 100%;
    height: auto;
    @include mq(xlarge) {
      width: 900px;
      @include absolute($right: 0, $bottom: 0);
    }
    @include mq(xxlarge) {
      width: 1000px;
    }
    @include mq(wide) {
      width: 1200px;
    }
    @include mq(xwide) {
      width: 1550px;
    }
    @include mq(xxwide) {
      width: 2000px;
    }
  }
}
