.alert {
  @include fixed($top: 0, $left: 0);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(31, 40, 51, 0.9);
  z-index: 1000;
  animation: message 0.25s ease-out;
  @include mq(large) {
    left: 10%;
    width: 90%;
  }

  &__status {
    display: flex;
    align-items: center;
    strong {
      display: block;
      margin-right: 0.75rem;
    }
  }

  &__icon {
    width: 20px;
    @include mq(medium) {
      width: 24px;
    }
    @include mq(wide) {
      width: 28px;
    }
    @include mq(xwide) {
      width: unset;
    }
    height: auto;
  }

  &__btn-close {
    @include absolute($top: 50%, $right: 4%);
    transform: translateY(-50%);
    height: 25%;
  }
}

@keyframes message {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
