.btn {
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  background: transparent;
  width: max-content;
  padding: 10px 16px;
  border: solid 2px $light-red;
  border-radius: 18px;
  @include mq(xsmall) {
    padding: 11px 18px;
    border-width: 2.2px;
    border-radius: 20px;
  }
  @include mq(small) {
    padding: 12px 19px;
    border-radius: 21.8px;
  }
  @include mq(medium) {
    padding: 13px 20px;
    border-width: 2.5px;
    border-radius: 23.9px;
  }
  @include mq(xlarge) {
    padding: 14px 21px;
    border-radius: 25.7px;
  }
  @include mq(wide) {
    border-width: 3.2px;
    padding: 16px 23px;
    border-radius: 29.2px;
  }
  @include mq(xwide) {
    border-width: 3.25px;
    padding: 20px 29px;
    border-radius: 35.25px;
  }
  @include mq(xxwide) {
    border-width: 3.5px;
    padding: 24px 36px;
    border-radius: 41.8px;
  }

  @include on-event {
    background: $light-red;
    color: white;
  }

  &--green {
    border-color: $darker-blue-green;
    @include mq(small) {
      border-width: 2.5px;
    }

    @include on-event {
      background: $darker-blue-green;
      border-color: $darker-blue-green;

      .btn__icon {
        path {
          fill: white;
        }
      }
    }
  }

  &--dl {
    display: flex;
    align-items: center;

    .btn__icon {
      margin-left: 10px;
      width: auto;
      height: 12px;
      @include mq(xsmall) {
        height: 13.6px;
      }
      @include mq(small) {
        height: 15.2px;
      }
      @include mq(medium) {
        height: 16.8px;
      }
      @include mq(large) {
        height: 18.4px;
      }
      @include mq(wide) {
        height: 20px;
      }
      @include mq(xwide) {
        height: 24px;
      }
      @include mq(xxwide) {
        height: 28.8px;
        margin-left: 16px;
      }

      path {
        transition: all 0.25s ease-in-out;
      }
    }
  }

  &--send {
    width: 144px;
    height: auto;
    @include mq(xsmall) {
      width: 165px;
    }
    @include mq(medium) {
      width: 175px;
    }
    @include mq(xlarge) {
      width: 180px;
    }
    @include mq(wide) {
      width: 225px;
    }
    @include mq(xwide) {
      width: 265px;
    }
    @include mq(xxwide) {
      width: 280px;
    }
  }
}

.contact__btn {
  cursor: pointer;
  width: max-content;
  border: none;
  background: none;

  @include on-event {
    opacity: 0.8;
  }
}

.portfolio {
  &__arrow-btn {
    cursor: pointer;
    border: none;
    background: none;
    width: 15px;
    height: auto;
    @include mq(xsmall) {
      width: 18px;
    }
    @include mq(small) {
      width: 20px;
    }
    @include mq(wide) {
      width: 24px;
    }
    @include mq(wide) {
      width: 28px;
    }
    @include mq(xxwide) {
      width: 36px;
    }

    .arrow-btn-icon {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__indicator {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #808080;
    margin: 0.5rem;
    transition: background-color linear 500ms, transform 150ms linear;

    &--active {
      background: #49f1c1;
    }
    @include mq(xsmall) {
      width: 10px;
      height: 10px;
      margin: 0.7rem;
    }
    @include mq(small) {
      width: 12px;
      height: 12px;
      margin: 0.75rem;
    }
    @include mq(xxlarge) {
      width: 13px;
      height: 13px;
      margin: 0.9rem;
    }
    @include mq(wide) {
      width: 14px;
      height: 14px;
      margin: 1rem;
    }
    @include mq(xxwide) {
      width: 18px;
      height: 18px;
      margin: 1.5rem;
    }

    @include on-event {
      transform: scale(1.2);
    }
  }
}

.btn-close {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 150ms linear;

  @include on-event {
    .btn-close__icon {
      opacity: 1;
      transform: scale(1.2);

      path {
        fill: white;
      }
    }
  }

  .btn-close__icon {
    display: block;
    opacity: 0.8;
    transition: all 150ms linear;
    height: 100%;
    width: auto;

    path {
      transition: all 150ms linear;
    }
  }
}
