.btn {
  cursor: pointer;
  background: transparent;
  width: max-content;
  padding: 10px 16px;
  border: solid 2px $light-red;
  border-radius: 18px;
  @include mq(small) {
    padding: 14px 22px;
    border-width: 2.2px;
    border-radius: 23.8px;
  }
  @include mq(medium) {
    padding: 16px 26px;
    border-width: 2.5px;
    border-radius: 27.3px;
  }
  @include mq(xlarge) {
    padding: 18px 30px;
    border-radius: 30.1px;
  }
  @include mq(xxxlarge) {
    border-width: 3.15px;
  }
  @include mq(wide) {
    border-width: 3.2px;
    padding: 22px 36px;
    border-radius: 36.1px;
  }
  @include mq(xwide) {
    border-width: 3.25px;
    padding: 24px 40px;
    border-radius: 39.25px;
  }
  @include mq(xxwide) {
    padding: 28px 46px;
    border-radius: 45.65px;
  }

  &--green {
    // border: solid 2px $darker-blue-green;
    border-color: $darker-blue-green;
    @include mq(small) {
      border-width: 2.5px;
    }
  }

  &--dl {
    display: flex;
    align-items: center;

    .btn__icon {
      margin-left: 10px;
      width: auto;
      height: 12px;
      @include mq(large) {
        height: unset;
      }
    }
  }
}

.contact__btn {
  cursor: pointer;
  width: max-content;
  border: none;
  background: none;
}

.contact__send-btn {
  width: 144px;
  height: auto;
  @include mq(large) {
    width: unset;
  }
}

.portfolio {
  &__arrow-btn {
    cursor: pointer;
    border: none;
    background: none;
    // @include mq(large) {
    //   width: 20px;
    //   height: 32px;
    // }
  }

  &__indicator {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #808080;
    margin: 0.5rem;
    transition: linear 500ms;

    &--active {
      background: #49f1c1;
    }
    @include mq(xsmall) {
      width: 10px;
      height: 10px;
      margin: 0.7rem;
    }
    @include mq(small) {
      width: 12px;
      height: 12px;
      margin: 0.75rem;
    }
    @include mq(xxlarge) {
      width: 13px;
      height: 13px;
      margin: 0.9rem;
    }
    @include mq(wide) {
      width: 14px;
      height: 14px;
      margin: 1rem;
    }
    @include mq(xxwide) {
      width: 18px;
      height: 18px;
      margin: 1.5rem;
    }
  }
}
