.arrow-btn {
  width: 10px;
  height: auto;
  @include mq(xsmall) {
    width: 15px;
  }
  @include mq(small) {
    width: 18px;
  }
  @include mq(medium) {
    width: 18px;
  }
  @include mq(xxxlarge) {
    width: 20px;
  }
  @include mq(wide) {
    width: 24px;
  }
  @include mq(wide) {
    width: 28px;
  }
  @include mq(xxwide) {
    width: 36px;
  }
}
