.message {
  @include fixed($top: 0, $left: 10%);
  width: 90%;
  padding: 0.5rem;
  text-align: center;
  background: $dark-blue;
  color: white;
  z-index: 1000;
  animation: message 0.25s ease-out;

  &__btn-close {
    cursor: pointer;
    @include absolute($top: 50%, $right: 1.5rem);
    transform: translateY(-50%);
    background: none;
    border: none;
    transition: all 150ms linear;

    @include on-event {
      transform: translateY(-50%) scale(1.2);
      path {
        fill: white;
      }
    }

    path {
      transition: all 150ms linear;
    }
  }
}

@keyframes message {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
