// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 2px solid $light-blue-green;
  outline-offset: 5px;
}

input:focus,
textarea:focus {
  outline-offset: 0;
}

body {
  background: #1f2833;
  overflow-x: hidden;
}

.site-container {
  max-width: 3200px;
  position: relative;
}

main {
  background: $light-grey-97;
}

.navbar {
  background: $dark-blue;
}

.skills {
  background: $light-grey-97;

  &__card {
    background: white;
    box-shadow: $bs-card;
  }
}

.about {
  // background: $light-grey-93;

  &__container {
    background: $light-grey-97;
  }
}

li {
  list-style-type: none;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  color: $light-grey-blue;

  // @include on-event {
  //   text-decoration: underline;
  // }
}
