.about-section-container {
  width: 100%;
  @include mq(xlarge) {
    height: 144.4444vh;
    min-height: 1010px;
    max-height: 1300px;
  }

  @include mq(xxxlarge) {
    min-height: 1040px;
  }
  @include mq(wide) {
    min-height: 1250px;
    max-height: 1515px;
  }
  @include mq(xwide) {
    min-height: 1444px;
    max-height: 1733px;
  }
  @include mq(xxwide) {
    min-height: 1735px;
    max-height: 2080px;
  }
}

.about {
  height: auto;
  display: grid; //prevents collapsing margins
  place-items: center;
  position: relative;
  max-height: unset;
  min-height: unset;
  padding-bottom: 19.5vh;

  @include mq(xsmall) {
    padding-bottom: 160px;
  }
  @include mq(xsmall) {
    padding-bottom: 200px;
  }
  @include mq(large) {
    padding-bottom: 240px;
  }
  @include mq(xlarge) {
    padding: 0;
    height: 69.2307%;
  }

  &__divider {
    display: none;
    @include mq(xlarge) {
      display: block;
      width: 100%;
      height: 15.3846%;
      background: $light-grey-93;
    }
  }

  &__content {
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: column;
    z-index: 50;
    @include mq(xxlarge) {
      max-width: 1000px;
    }
    @include mq(xxxlarge) {
      max-width: 1050px;
    }
    @include mq(wide) {
      max-width: 1350px;
    }
    @include mq(xwide) {
      max-width: 1500px;
    }
    @include mq(xxwide) {
      max-width: 1800px;
    }
  }

  &__title {
    margin-top: 19vh;
    margin-bottom: 4rem;
    @include mq(xsmall) {
      margin-top: 160px;
      margin-bottom: 5rem;
    }
    @include mq(small) {
      margin-top: 200px;
    }
    @include mq(large) {
      margin-top: 220px;
      margin-bottom: 6rem;
    }
    @include mq(xlarge) {
      margin-top: 0;
      margin-bottom: 2.5rem;
    }
  }

  &__img-container {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    position: relative;
    padding: 0 1% 2% 1%;
    @include mq(xsmall) {
      margin-bottom: 4rem;
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
    }
    @include mq(small) {
      max-width: 480px;
      margin-bottom: 5rem;
    }
    @include mq(xlarge) {
      position: absolute;
      right: 0;
      top: 50%;
      margin: 0;
      margin-right: 1rem;
      max-width: 380px;
      transform: translateY(-50%);
    }
    @include mq(xxlarge) {
      max-width: 440px;
      margin-right: 1.5rem;
    }
    @include mq(xxxlarge) {
      max-width: 500px;
    }
    @include mq(wide) {
      max-width: 580px;
    }
    @include mq(xwide) {
      max-width: 660px;
    }
    @include mq(xxwide) {
      max-width: 770px;
    }
  }

  &__blobs {
    width: 105%;
    height: auto;
    @include absolute($top: 50%, $left: 0);
    transform: translateY(-50%);
  }

  &__marco-img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 5;
  }

  &__body {
    margin-bottom: 3rem;
    @include mq(xlarge) {
      width: 48%;
    }
  }

  &__btn {
    align-self: flex-end;

    @include mq(xlarge) {
      align-self: flex-start;
    }
  }

  &__grey-shapes {
    display: none;
    @include mq(xlarge) {
      display: block;
      height: 144.4444%;
      width: auto;
      @include absolute($bottom: -22.2222%);
      z-index: 2;
    }
    @media screen and (min-width: 1024px) and (max-height: 770px) {
      transform: translateX(-5%);
    }
    @media screen and (min-width: 1440px) and (max-height: 800px) {
      transform: translateX(-5%);
    }
    @media screen and (min-width: 1600px) and (max-height: 960px) {
      transform: translateX(-5%);
    }
    @media screen and (min-width: 1920px) and (max-height: 1080px) {
      transform: translateX(-5%);
    }
    @media screen and (min-width: 2560px) and (max-height: 1300px) {
      transform: translateX(-5%);
    }
  }

  &__top-grey-shapes {
    @include absolute($top: 0);
    width: 100%;
    height: auto;
    @include mq(xlarge) {
      display: none;
    }
  }

  &__bottom-grey-shapes {
    @include absolute($bottom: 0);
    width: 100%;
    height: auto;
    @include mq(xlarge) {
      display: none;
    }
  }
}
