.navbar {
  background: $dark-blue;
  @include fixed($top: 0, $left: 0, $right: 0);
  flex-direction: column;
  z-index: 500;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45vh;
  min-height: 288px;
  clip-path: inset(0% 0% 80.1% 0%);
  transition: clip-path 0.5s ease-in-out;
  @include mq(small) {
    min-height: 300px;
  }
  @include mq(large) {
    padding: 1.25vw;
    justify-content: space-between;
    clip-path: unset;
    bottom: 0;
    right: unset;
    width: 10vw;
    height: 100vh;
    max-width: 320px;
    min-height: 430px;
  }
  @include mq(xlarge) {
    padding: 2vw;
  }
  @include mq(xxlarge) {
    min-height: 500px;
  }
  @include mq(xxxlarge) {
    min-height: 600px;
  }
  @include mq(wide) {
    min-height: 650px;
  }
  @include mq(xwide) {
    min-height: 820px;
  }
  @include mq(xxwide) {
    min-height: 1050px;
  }
  @media screen and (min-width: 3200px) {
    padding: 64px;
  }

  &--open {
    clip-path: inset(0% 0% 0% 0%);
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 19.9999%;
    padding: 0 5vw;
    @include mq(large) {
      height: auto;
      padding: 0;
    }
  }

  &__logo-link {
    height: 60%;
    width: auto;
    @include mq(large) {
      width: 100%;
      height: auto;
    }

    @include on-event {
      .navbar__logo {
        .text {
          fill: white;
        }
      }
    }

    //nested inside to overwrite the :focus & :active on <a> tag
    .navbar__logo {
      display: block;
      transform: translateY(10%);
      height: 100%;
      width: auto;
      @include mq(large) {
        transform: translateY(0);
        width: 100%;
        padding: 2px;
        height: auto;
      }
      @include mq(xlarge) {
        padding: 0;
      }
      @include mq(xxlarge) {
        padding: 5px;
      }
      @include mq(xxxlarge) {
        padding: 10px;
      }

      .text {
        display: none;
        transition: all 150ms linear;
        @include mq(large) {
          display: block;
        }
      }
    }
  }

  &__hamburger-btn {
    cursor: pointer;
    display: block;
    height: 40%;
    background: none;
    border: none;
    @include mq(large) {
      display: none;
    }

    @include on-event {
      .navbar__hamburger-icon {
        path {
          stroke: white;
        }
      }
    }

    .navbar__hamburger-icon {
      height: 100%;
      width: auto;
    }
  }

  &__nav {
    width: 100%;
    height: 100%;
    @include mq(large) {
      height: 30%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  &__list > * + * {
    margin-top: 1rem;
  }

  &__container-icons {
    margin: 1rem 0 5vh;
    width: 140px;
    display: flex;
    justify-content: space-between;
    @include mq(small) {
      width: 160px;
    }
    @include mq(large) {
      margin: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    @include mq(xxxlarge) {
      flex-direction: row;
    }
  }

  &__facebook-link,
  &__github-link,
  &__linkedin-link {
    width: 28px;
    @include mq(small) {
      width: 32px;
    }
    @include mq(large) {
      width: 24px;
      margin-top: 12px;
    }
    @include mq(xxxlarge) {
      margin: 0;
    }
    @include mq(xwide) {
      width: 32px;
    }
    @include on-event {
      .navbar__facebook,
      .navbar__github,
      .navbar__linkedin {
        transform: scale(1.1);
        path {
          fill: white;
        }
      }
    }

    .navbar__facebook,
    .navbar__github,
    .navbar__linkedin {
      display: block;
      width: 100%;
      height: auto;
      transition: all 150ms linear;

      path {
        transition: all 150ms linear;
        fill: $light-grey-blue;
      }
    }
  }
}
